.well.clearfix
  .song-show-title
    %h1= @song.title

  .song-show-container
    .song-show-content.pull-left
      .song-show-keynotes.clearfix
        - 14.times do |i|
          .key-note{ data: { keynum: i } }

      .song-show-generations.clearfix
        - @song.generations.each do |generation|
          = render generation, generation: generation

      .actions.clear
        = link_to "#", class: "btn btn-primary", id: "play-btn" do
          %i.icon-play.icon-white
          Play

        = link_to "#", class: "btn btn-primary", id: "play-2-btn" do
          %i.icon-play.icon-white
          Play 2


        = link_to "#", class: "btn btn-success pull-right", id: "step-btn", data: {sid: @song.id} do
          %i.icon-music.icon-white
          Step

    .song-show-info.pull-right
      .info-field
        = link_to "#rulebook-modal", class: "btn btn-large btn-warning", id: "open-rulebook-btn", data: { toggle: "modal" } do
          %i.icon-book.icon-white
          Open Rulebook

      .info-field.clearfix.key-info
        Key
        = select(:song, :key, [["A Major", "AM"], ["A Minor", "Am"], ["A Harmonic", "Ah"], ["B Major", "BM"], ["B Minor", "Bm"], ["C Major", "CM"], ["C Minor", "Cm"], ["D Major", "DM"], ["D Minor", "Dm"], ["E Major", "EM"], ["E Minor", "Em"], ["F Major", "FM"], ["F Minor", "Fm"], ["G Major", "GM"], ["G Minor", "Gm"] ], {}, { class: "pull-right", data: { sid: @song.id } } )
      .info-field.clearfix.gen-per-step-info
        Generation(s) Per Step
        = select_tag(:generations_per_step, options_for_select([[1,1], [2,2], [3,3], [4,4], [5,5], [10,10]], 0), { class: "pull-right"} )

#rulebook-modal.modal.hide.fade.clearfix
  .modal-header.clearfix
    %h3
      Define Your Cell Rules
      = link_to "#", class: "pull-right", data: { dismiss: "modal"} do
        %i.icon-remove

  .modal-body.clearfix
    .rules-list
      - @rules.each do |rule|
        = render rule

  .modal-footer.clearfix
    = link_to "#", class: "btn btn-success", id: "new-rule-btn", data: { sid: @song.id } do
      %i.icon-plus.icon-white
      New Rule

