.well.clearfix
  .song-show-title
    %h1= @song.title

  .song-show-container
    .song-show-content.pull-left
      .song-show-generations.clearfix
        - @song.generations.each do |generation|
          = render generation, generation: generation
      .actions.clear
        = link_to "#", class: "btn btn-primary" do
          %i.icon-play.icon-white
          Play
        = link_to "#", class: "btn btn-success pull-right" do
          %i.icon-music.icon-white
          Step

    .song-show-info.pull-right
      .info-field
        = link_to "#", class: "btn btn-danger", id: "open-rulebook-btn" do
          %i.icon-book.icon-white
          Open Rulebook
      .info-field
        = select(:song, :key, [["C Major", "CM"], ["C Minor", "Cm"]], {}, { data: { sid: @song.id } } )
      .info-field
        Generations per Step
        = text_field_tag(:generations_per_step, "1")
