.well.devise-login.clearfix
  %header
    %h1 Make music. Have fun.

  .sign-in
    %h1 Sign in

    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      %br
      = f.email_field :email, placeholder: "Email"
      %br
      = f.password_field :password, placeholder: "Password"

      .sign-in-actions
        = f.submit "Sign in", class: "btn btn-large btn-primary", id: "sign-in-btn"
        = link_to "Forgot password?", new_password_path(resource_name)
  .sign-up
    %h1 Don't have an account yet?
    = link_to "Sign up now", new_registration_path(resource_name), class: "btn btn-large btn-info", id: "register-btn"

